{% extends "shop/base.html" %}
{% load static %}

{% block content %}

<div class="company_info">
    <h2>О компании:</h2>

    <p>Компания "PetParadise" - ваш надежный партнер в мире зоотоваров!</p>
    <p>Мы - ведущий поставщик и розничный продавец высококачественных зоотоваров для любимцев. 
        В PetParadise мы понимаем, что ваше домашнее животное - это часть вашей семьи, 
        и мы стремимся предоставить вам все необходимое для здоровья, комфорта и счастья вашего питомца.</p>
    <p>Наш широкий ассортимент продукции включает в себя питание, игрушки, одежду, лежаки, уходовые средства, 
        поводки, клетки и многое другое. Мы тщательно отбираем продукцию от ведущих производителей, 
        чтобы удовлетворить потребности различных видов животных, включая собак, кошек, птиц, грызунов, рептилий и рыб.</p>
    <p>PetParadise гордится своими высокими стандартами качества. 
        Все наши товары проходят строгий контроль качества, чтобы гарантировать безопасность и надежность. 
        Мы уделяем особое внимание экологически чистым и натуральным продуктам, чтобы поддерживать 
        здоровье животных и окружающей среды.</p>
    <p>Наша команда состоит из опытных и дружелюбных специалистов, 
        готовых предоставить вам экспертные советы и помощь в выборе наиболее подходящих товаров для вашего питомца. 
        Мы ценим наших клиентов и стремимся обеспечить им превосходное обслуживание, 
        быструю доставку и удобные условия покупки.</p>
    <p>В PetParadise мы искренне верим в благополучие и счастье животных. 
        Поэтому наша миссия - делать жизнь ваших питомцев ярче, здоровее и полнее радости. 
        Присоединяйтесь к нам и создайте идеальный рай для своего домашнего питомца вместе с PetParadise!</p>
</div>

<iframe width="640" height="360" src="https://www.youtube.com/embed/u3fR6Nr9V74?start=7"
title="Pedigree Denta Stix - Реклама &quot;чистки зубов для собак&quot;)" 
frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
allowfullscreen></iframe>

<div>
    <h2>Наш логотип:</h2>
    <img src="{% static 'images/paw_logo.jpg' %}" width="500" height="500">
</div>

<div class="history">
    <h2>Наша история:</h2>
    <p>Большие истории всегда начинаются с маленьких. Мы стали сетью зоомагазинов и ветеринарных аптек №1 в стране 
        благодаря тысячам историй наших клиентов и их домашних животных. 
        В центре каждой из них — поиск самого лучшего для ухода за своим питомцем. 
        Наша история началась в самом центре Минска. В 2003 году на Комаровском рынке — огромном шумном сердце города, 
        — появился наш первый зоомагазин. Поставщиков в то время было мало, 
        поэтому никто ранее не предлагал в одном месте такой широкий выбор кормов, игрушек, средств для ухода. 
        Наша витрина стала настоящим «зообазаром» для любителей животных. 
        За первым магазином Zoobazar быстро последовал второй, третий, десятый. Мы приняли решение выводить бизнес 
        на новый уровень, и это у нас получилось.</p>
    <p>В 2007 году мы получили ветеринарную лицензию и начали предлагать не только самый большой в городе 
        выбор кормов и аксессуаров для питомцев, но и линейку востребованных ветеринарных препаратов.</p>
    <p>Zoobazar продолжил развиваться и стал появляться за пределами Минска. 
        Первый региональный магазин открылся в Барановичах в 2008 году, а затем последовали другие города страны. 
        К концу 2016 года сеть насчитывала 36 точек продаж, и вывеска Zoobazar стала узнаваема многими покупателями. 
        Вскоре мы получили статус «Лучший магазин и ветеринарная аптека 2017 года». 
        Награда от государственной академии ветеринарной медицины и доверие самых преданных клиентов 
        дали нам новые силы, чтобы развивать сеть. В том же году открылся наш 50-ый зоомагазин. 
        В скором времени в торговом центре «Зеркало» свои двери распахнул крупнейший Zoobazar. 
        Так совпало, что самая большая точка продаж открылась всего в паре сотен метров от нашего первого магазина, 
        который успешно работает с 2003 года.</p>
    <p>В 2019 году сеть Zoobazar открывает 100-ый объект. И это новая глава, каждая строка которой 
        начинается со слова «первый». Первый в отрасли зоомагазин с форматом Cash and carry, где у любителей животных 
        есть возможность делать мелкооптовые закупки. Первый в зообизнесе контакт-центр 
        для поддержки клиентов и сотрудников: мы хотим всегда быть рядом и оказывать качественную информационную поддержку. 
        Тогда же появляются наши первые инстаграм-эфиры, где на вопросы подписчиков отвечают 
        специалисты ведущих ветеринарных клиник. Мы помогаем организациям, которые поддерживают бездомных животных, 
        спонсируем проведение выставок, часть денег при совершении покупок в Zoobazar перечисляется на лечение детей 
        с онкологическими заболеваниями.</p>
    <p>За годы нашей работы нам удалось выстроить масштабную сеть зоомагазинов и ветаптек, 
        и наша история продолжается. Важным событием в 2019 году стало присоединение сети Zoobazar 
        к холдингу «Мостра-групп», что открыло нам новые горизонты и перспективы. Мы создали образовательный 
        центр для обучения персонала, который помогает повышать качество услуг и быть другом для тысяч наших 
        клиентов по всей стране. Благодаря доверию наших покупателей мы стали победителем в номинации «Зоомагазин №1» 
        по результатам премии «Номер один» 2020 года.</p>
</div>

<div>
    <h2>Реквизиты:</h2>
    <p>
        ООО “Ветзообазар”<br>
        УНП 192636458, ОКПО 382818465000<br>
        BY30 BPSB 30121 780300169330000<br>
        BIC SWIFT BPSBBY2X<br>
        Дополнительный офис №701 Региональной дирекции №700 по г. Минску и Минской области на Чкалова ОАО «БПС-Сбербанк»<br>
        г. Минск, ул. Чкалова, 18/1<br>
        Юридический адрес: г. Минск, пр. Независимости, 117А-20В, ком. 5<br>
        Почтовый адрес: 220063, г. Минск, ул. Неманская, 24 (3-й этаж)<br>
    </p>
</div>

<img src="{% static 'images/certificate.jpg' %}" width="450" height="650">

{% endblock %}